.header {
  border-bottom: 1px solid #ececec;
  padding-top: 25px;
  padding-bottom: 25px;
}
.head-block {
  display: flex;
  align-items: center;
}
.header-top-menu {
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
}
.header-top-menu__pages {
  display: flex;
  list-style: none;
  justify-content: space-between;
  display: block; /* заповнення цілого контейнера по краяям. Стосується кнопки */
  font-weight: 500;
  font-size: 16px;
  line-height: 0.875;
  letter-spacing: 0.02em;

  &:not(:last-child) {
    margin-right: 50px;
  }
}
.header-top-menu__pages--active {
  text-decoration: none;
  color: inherit;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--button-and-logo-color);
  }
}
.active {
  color: var(--button-and-logo-color);
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: var(--button-and-logo-color);
    border-radius: 2px;
    left: 0;
    bottom: -34px;
  }
}
.header-contacts {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-decoration: none;
  list-style: none;
  margin-left: auto;
}
.header-contacts__list {
  color: var(--subtext-color);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 0.875;
  letter-spacing: 0.02em;

  &:not(:last-child) {
    margin-right: 50px;
  }
}
.header-contacts__url {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--button-and-logo-color);
    cursor: pointer;
    fill: var(--button-and-logo-color);
  }
}
.header-contacts__icon {
  width: 16px;
  height: 12px;
  margin-right: 5px;
  fill: currentColor;
}
.header-contacts__tel-icon {
  width: 10px;
  height: 16px;
  margin-right: 5px;
  fill: currentColor;
}
