.fetures-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}
.fetures-list__item {
  width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
