.baner__sentences {
  color: var(--white-text-color);
  margin-bottom: 20px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
}
.what-we-do__text {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}
.our-team__text {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}
.our-clients__headline {
  text-align: center;
  color: var(--text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin: 0 0 50px 0;
  letter-spacing: 0.03em;
}
.fetures-list__title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-color2);
}
.team-mate-profile__name-surname {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color2);
  margin-bottom: 10px;
}
.container-items__subhead {
}
