:root {
  --background-color: #ffffff;
  --button-and-logo-color: #2196f3;
  --white-text-color: #ffffff;
  --black-text-color: #2f303a;
  --subtext-color: #757575;
  --second-color: #2f303a;
  --black-color2: #212121;
  --logo-color: #ffffff;
  --background-color-second: #f5f4fa;
}
